
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_177 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: rgba(12, 12, 12, 1);
      }
.Pixso-frame-2_178 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background-color: rgba(8, 8, 8, 1);
      }
.frame-content-2_178 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_178 {
        position: relative;
width: 240px;
height: 900px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_178 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_179 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(8, 8, 8, 1);
      }
.frame-content-2_179 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_179 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_179 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-vector-2_180 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/terminal2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_183 {
        font-size: 16px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 1px;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_184 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_185 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_185 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
padding: 16px 0px 16px 0px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_186 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_186 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_213 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/arrowleft.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_216 {
        font-size: 12px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_187 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_187 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_187 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_187 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_188 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_188 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-2_189 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/zap.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_191 {
        font-size: 13px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_192 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_193 {
        width: 100%;
height: 3px;
position: relative;
flex-shrink: 0;
background-color: rgba(26, 26, 26, 1);
      }
.Pixso-frame-2_194 {
        width: 195px;
height: 3px;
position: absolute;
left: 0px;
top: 0px;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-text-2_195 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_196 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_196 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_197 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_197 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_197 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_197 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_217 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_198 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(20, 20, 20, 1);
      }
.frame-content-2_198 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 12px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_198 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_198 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_199 {
        font-size: 12px;
font-family: "JetBrains Mono-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_200 {
        font-size: 10px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_201 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_201 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 12px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_201 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_201 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_202 {
        font-size: 12px;
font-family: "JetBrains Mono-SemiBold";
font-weight: SemiBold;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_203 {
        font-size: 10px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_204 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_204 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 12px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_204 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_204 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_205 {
        font-size: 12px;
font-family: "JetBrains Mono-SemiBold";
font-weight: SemiBold;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_206 {
        font-size: 10px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_207 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_208 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_208 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_208 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_208 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_209 {
        font-size: 10px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_210 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_210 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-rectangle-2_211 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-text-2_212 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_218 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(12, 12, 12, 1);
      }
.frame-content-2_218 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_219 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(8, 8, 8, 1);
      }
.frame-content-2_219 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 40px 0px 40px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_219 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_219 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_220 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 3px;
align-items: flex-start;
      }
.Pixso-text-2_221 {
        font-size: 18px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_222 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_223 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_224 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 8px 12px 8px 12px;
background-color: rgba(0, 255, 136, 0.125490203499794);
      }
.stroke-wrapper-2_224 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_224 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-rectangle-2_225 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-text-2_226 {
        font-size: 11px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_227 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_227 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 10px 16px 10px 16px;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_227 {
        position: relative;
width: auto;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_227 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_228 {
        width: 13px;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.Pixso-rectangle-2_229 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px;
      }
.stroke-wrapper-2_229 {
        position: absolute;
left: 58.33%;
top: 12.5%;
right: 20.83%;
bottom: 12.5%;
width: 20.84%;
height: 75%;
      }
.stroke-2_229 {
        position: absolute;
inset: -0.5416666865348816px -0.5416666865348816px -0.5416666865348816px -0.5416666865348816px;
border-radius: 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px;
pointer-events: none;
border-width: 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(138, 138, 138, 1);
      }
.Pixso-rectangle-2_230 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px;
      }
.stroke-wrapper-2_230 {
        position: absolute;
left: 20.83%;
top: 12.5%;
right: 58.33%;
bottom: 12.5%;
width: 20.84%;
height: 75%;
      }
.stroke-2_230 {
        position: absolute;
inset: -0.5416666865348816px -0.5416666865348816px -0.5416666865348816px -0.5416666865348816px;
border-radius: 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px 0.5416666865348816px;
pointer-events: none;
border-width: 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(138, 138, 138, 1);
      }
.Pixso-text-2_231 {
        font-size: 12px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_232 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(12, 12, 12, 1);
      }
.frame-content-2_232 {
        display: flex;
flex-direction: column;
gap: 24px;
align-items: flex-start;
padding: 32px 40px 32px 40px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_233 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_233 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_234 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: rgba(0, 255, 136, 0.125490203499794);
      }
.frame-content-2_234 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_234 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_234 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-frame-2_235 {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-2_236 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_236.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_237 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_237.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-vector-2_238 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_238.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 65.38%;
right: 26.92%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_239 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_239.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 65.38%;
right: 26.92%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-vector-2_240 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_240.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 50%;
bottom: 41.67%;
      }
.Pixso-vector-2_241 {
        width: 8.34%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_241.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 70.83%;
bottom: 20.83%;
      }
.Pixso-vector-2_242 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_242.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 29.17%;
bottom: 62.5%;
      }
.Pixso-vector-2_243 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_243.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 50%;
bottom: 41.67%;
      }
.Pixso-vector-2_244 {
        width: 8.34%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_244.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 70.83%;
bottom: 20.83%;
      }
.Pixso-vector-2_245 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_245.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 29.17%;
bottom: 62.5%;
      }
.Pixso-vector-2_246 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_246.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 26.92%;
right: 65.38%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_247 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_247.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 26.92%;
right: 65.38%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-rectangle-2_248 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
      }
.stroke-wrapper-2_248 {
        position: absolute;
left: 16.67%;
top: 16.67%;
right: 16.67%;
bottom: 16.67%;
width: 66.66%;
height: 66.66%;
      }
.stroke-2_248 {
        position: absolute;
inset: -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px;
border-radius: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
pointer-events: none;
border-width: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-rectangle-2_249 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px;
      }
.stroke-wrapper-2_249 {
        position: absolute;
left: 33.33%;
top: 33.33%;
right: 33.33%;
bottom: 33.33%;
width: 33.34%;
height: 33.34%;
      }
.stroke-2_249 {
        position: absolute;
inset: -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px;
border-radius: 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px;
pointer-events: none;
border-width: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-frame-2_250 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_250 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_251 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_251 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_252 {
        font-size: 12px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_253 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_254 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_254 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_254 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_254 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_255 {
        font-size: 13px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(255, 255, 255, 1);
width: 820px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_256 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_256 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_257 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_257 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_258 {
        font-size: 11px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_259 {
        font-size: 13px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_260 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3px 8px 3px 8px;
background-color: rgba(0, 255, 136, 0.125490203499794);
      }
.Pixso-text-2_261 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_262 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_262 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_263 {
        font-size: 11px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_264 {
        font-size: 13px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_265 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3px 8px 3px 8px;
background-color: rgba(255, 136, 0, 0.125490203499794);
      }
.Pixso-text-2_266 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 136, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_267 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_267 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_268 {
        font-size: 11px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_269 {
        font-size: 13px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_270 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3px 8px 3px 8px;
background-color: rgba(26, 26, 26, 1);
      }
.Pixso-text-2_271 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_272 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(20, 20, 20, 1);
      }
.frame-content-2_272 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_272 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_272 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(63, 63, 63, 1);
      }
.Pixso-frame-2_273 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(26, 26, 26, 1);
      }
.frame-content-2_273 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 8px 16px 8px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_273 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_273 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(63, 63, 63, 1);
      }
.Pixso-vector-2_274 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/filecode.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_279 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_280 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-text-2_281 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_282 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_282 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 12px 16px 12px 16px;
width: 100%;
position: relative;
      }
.Pixso-text-2_283 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_284 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_285 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_286 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_287 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_288 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
      }
.frame-content-2_288 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
justify-content: flex-end;
width: 100%;
position: relative;
      }
.Pixso-frame-2_289 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-end;
      }
.Pixso-frame-2_290 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.Pixso-text-2_291 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_292 {
        font-size: 12px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_293 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px 12px 16px;
background-color: rgba(20, 20, 20, 1);
      }
.stroke-wrapper-2_293 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_293 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(63, 63, 63, 1);
      }
.Pixso-text-2_294 {
        font-size: 13px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_295 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_295 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_296 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: rgba(0, 255, 136, 0.125490203499794);
      }
.frame-content-2_296 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_296 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_296 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-frame-2_297 {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-2_298 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_298.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_299 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_299.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-vector-2_300 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_300.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 65.38%;
right: 26.92%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_301 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_301.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 65.38%;
right: 26.92%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-vector-2_302 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_302.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 50%;
bottom: 41.67%;
      }
.Pixso-vector-2_303 {
        width: 8.34%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_303.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 70.83%;
bottom: 20.83%;
      }
.Pixso-vector-2_304 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_304.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 29.17%;
bottom: 62.5%;
      }
.Pixso-vector-2_305 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_305.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 50%;
bottom: 41.67%;
      }
.Pixso-vector-2_306 {
        width: 8.34%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_306.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 70.83%;
bottom: 20.83%;
      }
.Pixso-vector-2_307 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_307.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 29.17%;
bottom: 62.5%;
      }
.Pixso-vector-2_308 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_308.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 26.92%;
right: 65.38%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_309 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_309.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 26.92%;
right: 65.38%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-rectangle-2_310 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
      }
.stroke-wrapper-2_310 {
        position: absolute;
left: 16.67%;
top: 16.67%;
right: 16.67%;
bottom: 16.67%;
width: 66.66%;
height: 66.66%;
      }
.stroke-2_310 {
        position: absolute;
inset: -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px;
border-radius: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
pointer-events: none;
border-width: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-rectangle-2_311 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px;
      }
.stroke-wrapper-2_311 {
        position: absolute;
left: 33.33%;
top: 33.33%;
right: 33.33%;
bottom: 33.33%;
width: 33.34%;
height: 33.34%;
      }
.stroke-2_311 {
        position: absolute;
inset: -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px;
border-radius: 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px;
pointer-events: none;
border-width: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-frame-2_312 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_312 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_313 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_313 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_314 {
        font-size: 12px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_315 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_316 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
padding: 12px 16px 12px 16px;
background-color: rgba(0, 255, 136, 0.062745101749897);
      }
.stroke-wrapper-2_316 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_316 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 0.250980406999588);
      }
.Pixso-vector-2_317 {
        width: 13px;
height: 13px;
background-image: url(@/assets/images/loader.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_326 {
        font-size: 12px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_327 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(8, 8, 8, 1);
      }
.frame-content-2_327 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 40px 16px 40px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_327 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_327 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_328 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_328 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 14px 16px 14px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_328 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_328 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-vector-2_329 {
        width: 15px;
height: 15px;
background-image: url(@/assets/images/messagesquare.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_331 {
        font-size: 13px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_332 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_333 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 8px 14px 8px 14px;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-vector-2_334 {
        width: 13px;
height: 13px;
background-image: url(@/assets/images/send.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_337 {
        font-size: 12px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(12, 12, 12, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_338 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_338 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_339 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_340 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-text-2_341 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

