
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_1 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: rgba(12, 12, 12, 1);
      }
.Pixso-frame-2_2 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background-color: rgba(8, 8, 8, 1);
      }
.frame-content-2_2 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_2 {
        position: relative;
width: 240px;
height: 900px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_2 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_3 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(8, 8, 8, 1);
      }
.frame-content-2_3 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_3 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_3 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-vector-2_4 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/terminal3.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_7 {
        font-size: 16px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 1px;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_8 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_9 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_9 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
padding: 16px 0px 16px 0px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_10 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 255, 136, 0.062745101749897);
      }
.frame-content-2_10 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_10 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_10 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 0px 2px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-vector-2_11 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/folder2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_13 {
        font-size: 12px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_14 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_14 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_15 {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-2_16 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_16.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_17 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_17.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-vector-2_18 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_18.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 65.38%;
right: 26.92%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_19 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_19.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 65.38%;
right: 26.92%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-vector-2_20 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_20.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 50%;
bottom: 41.67%;
      }
.Pixso-vector-2_21 {
        width: 8.34%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_21.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 70.83%;
bottom: 20.83%;
      }
.Pixso-vector-2_22 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_22.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 83.33%;
top: 29.17%;
bottom: 62.5%;
      }
.Pixso-vector-2_23 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_23.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 50%;
bottom: 41.67%;
      }
.Pixso-vector-2_24 {
        width: 8.34%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_24.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 70.83%;
bottom: 20.83%;
      }
.Pixso-vector-2_25 {
        width: 8.34%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_25.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 8.33%;
top: 29.17%;
bottom: 62.5%;
      }
.Pixso-vector-2_26 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_26.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 26.92%;
right: 65.38%;
top: 83.33%;
bottom: 8.33%;
      }
.Pixso-vector-2_27 {
        width: 7.7%;
height: 8.34%;
background-image: url(@/assets/images/Vector_2_27.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 26.92%;
right: 65.38%;
top: 8.33%;
bottom: 83.33%;
      }
.Pixso-rectangle-2_28 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
      }
.stroke-wrapper-2_28 {
        position: absolute;
left: 16.67%;
top: 16.67%;
right: 16.67%;
bottom: 16.67%;
width: 66.66%;
height: 66.66%;
      }
.stroke-2_28 {
        position: absolute;
inset: -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px;
border-radius: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
pointer-events: none;
border-width: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(138, 138, 138, 1);
      }
.Pixso-rectangle-2_29 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px;
      }
.stroke-wrapper-2_29 {
        position: absolute;
left: 33.33%;
top: 33.33%;
right: 33.33%;
bottom: 33.33%;
width: 33.34%;
height: 33.34%;
      }
.stroke-2_29 {
        position: absolute;
inset: -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px;
border-radius: 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px 0.5833333134651184px;
pointer-events: none;
border-width: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(138, 138, 138, 1);
      }
.Pixso-text-2_30 {
        font-size: 12px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_31 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_31 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_32 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/gitbranch0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_36 {
        font-size: 12px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_37 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_37 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_38 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/activity.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_40 {
        font-size: 12px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_41 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_41 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_42 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/settings0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_45 {
        font-size: 12px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_46 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_47 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-2_47 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_47 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_47 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_48 {
        font-size: 10px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_49 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_49 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-rectangle-2_50 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-text-2_51 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_52 {
        font-size: 11px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_53 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_53 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_54 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_55 {
        font-size: 11px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_56 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(12, 12, 12, 1);
      }
.frame-content-2_56 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_57 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(8, 8, 8, 1);
      }
.frame-content-2_57 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 40px 0px 40px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_57 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_57 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_58 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 3px;
align-items: flex-start;
      }
.Pixso-text-2_59 {
        font-size: 18px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_60 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_61 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_62 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(20, 20, 20, 1);
      }
.frame-content-2_62 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 10px 16px 10px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_62 {
        position: relative;
width: 240px;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_62 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-vector-2_63 {
        width: 13px;
height: 13px;
background-image: url(@/assets/images/search.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_66 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_67 {
        width: auto;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 255, 136, 1);
      }
.frame-content-2_67 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 10px 16px 10px 16px;
height: 100%;
position: relative;
      }
.Pixso-vector-2_68 {
        width: 13px;
height: 13px;
background-image: url(@/assets/images/plus0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_71 {
        font-size: 12px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(12, 12, 12, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_72 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(12, 12, 12, 1);
      }
.frame-content-2_72 {
        display: flex;
flex-direction: column;
gap: 32px;
align-items: flex-start;
padding: 32px 40px 32px 40px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_73 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_73 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_74 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_74 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_74 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_74 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_75 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_76 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_76 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_77 {
        font-size: 32px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_78 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_79 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_79 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_79 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_79 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-text-2_80 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_81 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_81 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_82 {
        font-size: 32px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_83 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_84 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_84 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_84 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_84 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_85 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_86 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_86 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_87 {
        font-size: 32px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_88 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_89 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_89 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_89 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_89 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_90 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
letter-spacing: 0.5px;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_91 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_91 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_92 {
        font-size: 32px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-text-2_93 {
        font-size: 11px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 136, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_94 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_94 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_95 {
        font-size: 13px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
letter-spacing: 0.5px;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_96 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_97 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_98 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_98 {
        display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 12px 12px;
align-items: flex-start;
align-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_99 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_99 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_99 {
        position: relative;
width: 368px;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_99 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 255, 136, 1);
      }
.Pixso-frame-2_100 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 255, 136, 0.062745101749897);
      }
.frame-content-2_100 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_101 {
        width: 13px;
height: 13px;
background-image: url(@/assets/images/zap0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_103 {
        font-size: 13px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_104 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-text-2_105 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(0, 255, 136, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_106 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_106 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_106 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_106 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_107 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(138, 138, 138, 1);
width: 336px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_108 {
        width: 100%;
height: 4px;
position: relative;
flex-shrink: 0;
background-color: rgba(26, 26, 26, 1);
      }
.Pixso-frame-2_109 {
        width: 212px;
height: 4px;
position: absolute;
left: 0px;
top: 0px;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-frame-2_110 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_110 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_111 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_112 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-text-2_113 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_114 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_114 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 12px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_114 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_114 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-vector-2_115 {
        width: 11px;
height: 11px;
background-image: url(@/assets/images/clock1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_118 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_119 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_120 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
padding: 6px 10px 6px 10px;
background-color: rgba(255, 68, 68, 0.125490203499794);
      }
.stroke-wrapper-2_120 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_120 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 68, 68, 1);
      }
.Pixso-text-2_121 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 68, 68, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_122 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
padding: 6px 10px 6px 10px;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-text-2_123 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(12, 12, 12, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_124 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_124 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_124 {
        position: relative;
width: 368px;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_124 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_125 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_125 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_126 {
        width: 13px;
height: 13px;
background-image: url(@/assets/images/folder1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_128 {
        font-size: 13px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_129 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-text-2_130 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_131 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_131 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_131 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_131 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_132 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(138, 138, 138, 1);
width: 336px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_133 {
        width: 100%;
height: 4px;
position: relative;
flex-shrink: 0;
background-color: rgba(26, 26, 26, 1);
      }
.Pixso-frame-2_134 {
        width: 100px;
height: 4px;
position: absolute;
left: 0px;
top: 0px;
background-color: rgba(47, 47, 47, 1);
      }
.Pixso-frame-2_135 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_135 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-text-2_136 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_137 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-text-2_138 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_139 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_139 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 12px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_139 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_139 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-vector-2_140 {
        width: 11px;
height: 11px;
background-image: url(@/assets/images/clock0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_143 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_144 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_145 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
padding: 6px 10px 6px 10px;
background-color: rgba(0, 255, 136, 1);
      }
.Pixso-text-2_146 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(12, 12, 12, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_147 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
padding: 6px 10px 6px 10px;
background-color: rgba(0, 0, 0, 0);
      }
.stroke-wrapper-2_147 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_147 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_148 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_149 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(10, 10, 10, 1);
      }
.frame-content-2_149 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_149 {
        position: relative;
width: 368px;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_149 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 68, 68, 1);
      }
.Pixso-frame-2_150 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 68, 68, 0.062745101749897);
      }
.frame-content-2_150 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_151 {
        width: 13px;
height: 13px;
background-image: url(@/assets/images/trianglealert.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_152 {
        font-size: 13px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_153 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-text-2_154 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(255, 68, 68, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_155 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_155 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_155 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_155 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_156 {
        font-size: 12px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(138, 138, 138, 1);
width: 336px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_157 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 68, 68, 0.062745101749897);
      }
.frame-content-2_157 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 8px 12px 8px 12px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_157 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_157 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 68, 68, 0.250980406999588);
      }
.Pixso-vector-2_158 {
        width: 11px;
height: 11px;
background-image: url(@/assets/images/xcircle.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_162 {
        font-size: 11px;
font-family: "JetBrains Mono-Medium";
font-weight: Medium;
color: rgba(255, 68, 68, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_163 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_163 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 12px 16px 12px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_163 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_163 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-vector-2_164 {
        width: 11px;
height: 11px;
background-image: url(@/assets/images/clock.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-text-2_167 {
        font-size: 11px;
font-family: "JetBrains Mono-Regular";
font-weight: Regular;
color: rgba(106, 106, 106, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_168 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.Pixso-frame-2_169 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
padding: 6px 10px 6px 10px;
background-color: rgba(255, 136, 0, 1);
      }
.Pixso-text-2_170 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(12, 12, 12, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_171 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: flex-start;
padding: 6px 10px 6px 10px;
background-color: rgba(0, 0, 0, 0);
      }
.stroke-wrapper-2_171 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_171 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(47, 47, 47, 1);
      }
.Pixso-text-2_172 {
        font-size: 10px;
font-family: "JetBrains Mono-Bold";
font-weight: Bold;
color: rgba(138, 138, 138, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

