@font-face {
                font-family: "JetBrains Mono-Medium"; font-style: normal; src: url('@/assets/fonts/JetBrainsMono-Medium_1.ttf'); font-weight: 500
            }
@font-face {
                font-family: "JetBrains Mono-Regular"; font-style: normal; src: url('@/assets/fonts/JetBrainsMono-Regular.ttf'); font-weight: 400
            }
@font-face {
                font-family: "JetBrains Mono-SemiBold"; font-style: normal; src: url('@/assets/fonts/JetBrainsMono-SemiBold_1.ttf'); font-weight: 600
            }
@font-face {
                font-family: "JetBrains Mono-Bold"; font-style: normal; src: url('@/assets/fonts/JetBrainsMono-Bold_1.ttf'); font-weight: 700
            }
@font-face {
                font-family: "Noto Sans SC-Regular"; font-style: normal; src: local("Noto Sans SC"), local("PingFang SC"), local("Microsoft YaHei"), local("Source Han Sans SC")
            }
